<!DOCTYPE html>
<html  lang="bg" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Кексчетата на Пако и Мони</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body >

<header th:class="home-navbar" th:fragment="nav" id="navbar" data-role = "Header">
    <div class="logged-user"><br>
<!--        th:text="#{nav_bar_welcome}"-->
        <a >Welcome,</a>
        <th:block sec:authentication="name"></th:block>
        !
    </div>
    <div th:class="nav-back">
    <nav >
        <a th:href="@{/}" style="font-weight: bold;
        margin-left: 18rem"
           id="logo"
           class="navbar-logo-title">&copy;PAKO & MONI HOMEMADE CUPCAKES</a>
        <a th:href="@{/}" style="font-weight: bold;"
           class="navbar-logo-title"></a>
        <br/>
        <span style="font-size: small;margin-left:25rem;
        text-align: center">DELICIOUS AND HEALTHY FOOD PROJECT</span>
        <ul class="navbar">
            <li><a th:href="@{/}">Начало</a></li>
            <li><a th:href="@{/about}">За нас</a></li>
            <li><a th:href="@{/products}">Кексчета</a></li>
            <li><a th:href="@{/order}">Поръчай</a></li>
            <li><a th:href="@{/cart}">Кошница</a></li>
            <th:block sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/users/login}">Вход</a></li>
            <li><a th:href="@{/users/register}">Регистрация</a></li>
            </th:block>
        </ul>
    </nav>
    </div>
</header>


<footer th:fragment="footer" id="footer" class="home-footer">
    <ul>
        <li class="selected">
            <a th:href="@{/}">home</a>
        </li>
        <li>
            <a th:href="@{/products}">our cupcakes</a>
        </li>
        <li>
            <a th:href="@{/history}">history</a>
        </li>
        <li>
            <a th:href="@{/about}">about</a>
        </li>
        <li>
            <a th:href="@{/order}">blog</a>
        </li>
        <li>
            <a th:href="@{/contact}">contact</a>
        </li>
    </ul>
    <p>&copy; 2025 Кексчетата на Пако и Мони. Всички права запазени.</p>
</footer>
</body>
</html>