<!DOCTYPE html>
<html  lang="bg" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Кексчетата на Пако и Мони</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body >

<header  th:fragment="nav">
    <div th:class="nav-back">
    <nav >
        <ul class="navbar">
            <li><a href="/">Начало</a></li>
            <li><a href="/about">За нас</a></li>
            <li><a href="/products">Кексчета</a></li>
            <li><a href="/order">Поръчай</a></li>
            <li><a href="/cart">Кошница</a></li>
            <li><a href="/user/login">Вход</a></li>
            <li><a href="/user/register">Регистрация</a></li>
        </ul>
    </nav>
    </div>
</header>


<footer th:fragment="footer" id="footer">
    <ul>
        <li class="selected">
            <a th:href="@{/index}">home</a>
        </li>
        <li>
            <a th:href="@{/products}">our cupcakes</a>
        </li>
        <li>
            <a th:href="@{/history}">history</a>
        </li>
        <li>
            <a th:href="@{/about}">about</a>
        </li>
        <li>
            <a th:href="@{/order}">blog</a>
        </li>
        <li>
            <a th:href="@{/contact}">contact</a>
        </li>
    </ul>
    <p>&copy; 2025 Кексчетата на Пако и Мони. Всички права запазени.</p>
</footer>
</body>
</html>