/* styles/pumpkin.css */
body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/pumpkin-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #3d3d3d;
}

header {
    background: lightcoral;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffcc99;
}

section {
    max-width: 1200px;
    margin: 15rem auto 50px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: orange;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

footer {
    text-align: center;
    padding: 20px;
    background: cornsilk;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}