

footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 0;
    width: 100%;
}
#content #body .footer .article {
    float: left;
    margin: 0;
    padding: 0 0 0 36px;
    width: 400px;
}
#content #body .footer .article ul {
    border-bottom: 1px solid #e6e6e9;
    margin: 0;
    padding: 0 0 15px;
}
#content #body .footer .article ul li {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 0 0;
}
#content #body .footer .article ul li img {
    display: block;
    float: left;
    width: 90px;
}
#content #body .footer .article ul li div {
    float: left;
    margin: 0;
    padding: 0 0 0 15px;
    width: 295px
}
#content #body .footer .article ul li div h3 {
    color: #b84e64;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#content #body .footer .article ul li div h3 a {
    color: #b84e64;
    text-decoration: none;
}
#content #body .footer .article ul li div small {
    color: #b84e64;
    display: block;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#content #body .footer .article ul li div p {
    color: #7c7c7c;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 10px 0 0;
}
#content #body .footer .article ul li div p a {
    color: #b84e64;
}
#content #body .footer .article ul li div a.more {
    color: #b84e64;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#content #body .footer .article ul li div h3 a:hover, #content #body .footer .article ul li div p a:hover, #content #body .footer .article ul li div a.more:hover {
    text-decoration: underline;
}


