<!DOCTYPE html>
<html lang="bg"
 xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div th:replace="fragments/commons::nav"></div>

<main>
    <section class="about">
        <h1>За нас</h1>
        <p>"Кексчетата на Пако и Мони" е семейна пекарна, вдъхновена от любовта към сладките изкушения. Нашата цел е да ви предложим най-добрите кексчета - здравословни и вкусни.</p>
        <img src="images/about-cupcakes.jpg" alt="За нас" class="slide-in">
    </section>
</main>

<footer><div th:replace="fragments/commons::footer" id="footer"></div></footer>
</body>
</html>
