<!DOCTYPE html>
<html lang="bg"
 xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
</head>
<body>
<header>
    <nav>
        <ul class="navbar">
            <li><a href="index.html">Начало</a></li>
            <li><a href="about.html">За нас</a></li>
            <li><a href="products.html">Кексчета</a></li>
            <li><a href="order.html">Поръчай</a></li>
            <li><a href="cart.html">Кошница</a></li>
            <li><a href="login.html">Вход</a></li>
            <li><a href="register.html">Регистрация</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="about">
        <h1>За нас</h1>
        <p>"Кексчетата на Пако и Мони" е семейна пекарна, вдъхновена от любовта към сладките изкушения. Нашата цел е да ви предложим най-добрите кексчета - здравословни и вкусни.</p>
        <img src="images/about-cupcakes.jpg" alt="За нас" class="slide-in">
    </section>
</main>

<footer><div th:replace="fragments/commons::footer" id="footer"></div></footer>
</body>
</html>
