<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="fragments/commons::head">
    <title>Кексчета - Кексчетата на Пако и Мони</title></head>
<link rel="stylesheet" href="/css/products.css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/footer.css">
<!--    <link rel="stylesheet" href="/css/index.css">-->
<div style="margin-top: 1rem" class="navbar" th:replace="fragments/commons::nav"></div>
<body>

<div class="cupcake-grid">
    <div class="cupcake" th:each="cupcake : ${cupcakes}">
        <img th:src="${cupcake.image}" alt="Кексче" class="cupcake-image">
        <h3 th:text="${cupcake.name} + ' (' + cupcake.type + ')'"></h3>
        <p th:text="${cupcake.description}"></p>
        <p>Цена: <span th:text="${cupcake.price} + ' лв'"></span></p>
        <p>Наличност: <span th:text="${cupcake.stock}"></span></p>
        <form th:action="@{/cart/add}" method="post">
            <input type="hidden" name="id" th:value="${cupcake.id}">
            <input type="number" name="quantity" min="1" max="10" value="1">
            <button type="submit" th:disabled="${cupcake.stock == 0}">Купи</button>
        </form>
    </div>
</div>


<footer th:replace="fragments/commons::footer" class="footer">

</footer>
</body>
</html>
