<!DOCTYPE html>
<html lang="bg">
<head th:replace="fragments/commons::head">
    <title>Кексчетата на Пако и Мони</title></head>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/index.css">
<body >
<div th:replace="fragments/commons::nav"></div>

<main>
    <section class="hero">
        <h1>Добре дошли в "Кексчетата на Пако и Мони"</h1>
        <p>Вкусни и здравословни кексчета за всеки вкус!</p>
<!--        <img src="images/hero-cupcakes.jpg" alt="Вкусни кексчета">-->
    </section>

    <section class="categories">
        <h2>Нашите кексчета</h2>
        <div class="category-grid">
            <div class="category">
                <img src="images/keto-cupcake.jpg" alt="Кето кексчета">
                <h3>Кето</h3>
            </div>
            <div class="category">
                <img src="images/cream-cupcake.jpg" alt="Кексчета със сметана">
                <h3>Със сметана</h3>
            </div>
            <div class="category">
                <img src="images/chocolate-cupcake.jpg" alt="Шоколадови кексчета">
                <h3>Шоколадови</h3>
            </div>
            <div class="category">
                <img src="images/fruit-cupcake.jpg" alt="Плодови кексчета">
                <h3>Плодови</h3>
            </div>
            <div class="category">
                <img src="images/pumpkin-cupcake.jpg" alt="Кексчета с тиква">
                <h3>С тиква</h3>
            </div>
        </div>
    </section>
</main>
<footer><div th:replace="fragments/commons::footer" id="footer"></div></footer>

</body>
</html>
