<!DOCTYPE html>
<html lang="bg">
<head th:replace="fragments/commons::head">
    <title>Вход</title>
    <title>Кексчетата на Пако и Мони</title>
</head>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/register.css">
<body >
<div th:replace="fragments/commons::nav"></div>

<div class="container">
    <header>
        <h1>Paco and Moni<br><span>CUPCAKES</span></h1>
    </header>
    <section class="form-section">
        <div class="login-form">
            <h2>Login Form</h2>
            <p>Please fill in all fields to complete your Login.</p>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name">
<!--                th:field="*{password}"-->
                <label for="password">Password</label>
                <!--                       th:errorclass="'is-invalid bg-danger'"-->
                <input

                       required
                       type="password" class="form-control"
                       id="password"
                       aria-describedby="passwordHelpInline" placeholder="Password">
<!--                <small th:each="error :${#fields.errors('password')}"-->
<!--                       th:text="${error}"-->
<!--                       th:class="'invalid-feedback text-danger'"-->
<!--                >-->
<!--                    <span class="bg-danger">Password is not correct!</span>-->
<!--                </small>-->

<!--                <label for="email">Email</label>-->
<!--                <input type="email" id="email" name="email" placeholder="Your email">-->

                <button type="submit">LOGIN</button>
            </form>
        </div>
    </section>
</div>

<!--<form>-->
<!--    <h1>Login to Your Account</h1>-->
<!--    <input type="email" placeholder="Email" required>-->
<!--    <input type="password" placeholder="Password" required>-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->

<footer><div th:replace="fragments/commons::footer" id="footer"></div></footer>
</body>
</html>